div {
   display: grid;
   align-items: center;
   text-align: center;
   justify-content: center;
   margin-bottom: 2rem;
}

div, h1 { 
   font-size: 1.4em;
   margin-bottom: 4rem;
}

div, p {
   font-weight: 600;
}

hr {
   color: black
}